@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: hsl(36, 100%, 90.2%);
  position: relative;
  text-align: center;
}

#room-name {
  text-align: center;
  color: hsl(51, 100%, 50%);
  font-family: Londrina Shadow, cursive;
  font-size: 60px;
  transform: skewX(24deg);
  background-color: hsl(210, 29%, 29%);
}

#room-name:hover {
  transform: scale(1.5);
}

p {
  text-align: center;
}

.rooms-para {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
  font-size: 30px;
  font-family: Pacifico, cursive;
  color: hsl(215, 90%, 61%);
}

#monroe-suite {
  border-radius: 7px;
  box-shadow: 5px 5px 5px 0px;
  width: 50%;
  height: auto;
}

#tropicana-suite {
  border-radius: 7px;
  box-shadow: 5px 5px 5px 0px;
  width: 50%;
  height: auto;
}

#roosevelt-suite {
  border-radius: 7px;
  box-shadow: 5px 5px 5px 0px;
  width: 50%;
  height: auto;
}

#normal-suite {
  border-radius: 7px;
  box-shadow: 5px 5px 5px 0px;
  width: 50%;
  height: auto;
}

figcaption {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  font-size: 15px;
  font-family: Pacifico, cursive;
  color: hsl(0, 100%, 25.1%);
}

nav {
  margin: 27px auto 0;
  position: relative;
  width: 590px;
  height: 50px;
  background-color: hsl(210, 29%, 29%);
  border-radius: 8px;
  font-size: 0;
  font-family: Caveat, cursive;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
}

a:nth-child(3) {
  width: 100px;
}

a:nth-child(4) {
  width: 160px;
}

a:nth-child(5) {
  width: 120px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: hsl(168, 76%, 42%);
}

nav .start-about,
a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: hsl(6, 78%, 57%);
}

nav .start-blog,
a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: hsl(204, 70%, 53%);
}

nav .start-rooms,
a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: hsl(283, 39%, 53%);
}

nav .start-contact,
a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: hsl(28, 80%, 52%);
}

#footer {
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: 'Lobster', cursive;
}
