body {
  background-color: blanchedalmond;
  position: relative;
  text-align: center;
}
#name {
text-align: center;
color: #FFD700;
}
#tagline {
  text-align: center;
  color:maroon;
}
p {
  text-align: center;
}
#types {
  position: absolute;
}
h3 {
  text-align: center;
  color:crimson;
}
#time {
  text-align: center;
  color: #00AFA1;
}
button {
  text-align: center;
  color: #00AFA1;
}
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;;
}
#clockDisplay {
  color: #00AFA1;
}
#time {
  color: #00AFA1;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
