@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Monoton&display=swap');

body {
  background-color: blanchedalmond;
  position: relative;
  text-align: center;
}
#name {
text-align: center;
color: #FFD700;
font-family: Lobster, cursive;
font-size: 70px;
}
#tagline {
  text-align: center;
  color:maroon;
  font-family: Monoton, cursive;
  font-size: 40px;
}
p {
  text-align: center;
}
#types {
  position: absolute;
}
h3 {
  text-align: center;
  color:crimson;
}
.stats {
  text-align: center;
  color: #00AFA1;
  font-family: Londrina Shadow, cursive;
  font-size: 40px;
}
button {
  text-align: center;
  color: #00AFA1;
}
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.class {
  font-family: Lobster, cursive;
}
