body {
  background-color: blanchedalmond;
  position: relative;
}
#name {
text-align: center;
color: #FFD700;
}
#tagline {
  text-align: center;
  color:maroon;
}
p {
  text-align: center;
}
#types {
  position: absolute;
}
h3 {
  text-align: center;
  color:crimson;
}
#myBtn {
  text-align: center;
  color: #00AFA1;
}
